<nb-layout>
  <nb-layout-column class="column">
    <nb-card class="page-item" accent="info">
      <nb-card-header>Instructions</nb-card-header>
      <nb-card-body class="cardBody">
        The chatbot was trained to answer these questions:
        <ul>
          <li>Who is Igor?</li>
          <li>What are Igor's hobbies?</li>
          <li>What did Igor study?</li>
        </ul>
        It also understands the following words and their synonyms:
        <ul>
          <li>Good Day</li>
          <li>Goodbye</li>
          <li>Yes</li>
          <li>No</li>
          <li>Question Words</li>
          <li>Swear Words</li>
          <li>Igor Arshinov</li>
          <li>Random Characters</li>
        </ul>
        The chatbot knows when a user is rude towards him. For example, it will understand the following sentence: "You
        are a bad bot."
      </nb-card-body>
    </nb-card>
    <button id="settingsButton" outline status="info" nbButton nbPopover="Top Popover!" nbPopoverPlacement="top"
            [nbPopover]="templateSettings">
      <nb-icon icon="settings-2-outline"></nb-icon>

      Settings
    </button>
    <ng-template #templateSettings>
      <nb-accordion id="settingsAccordion">
        <nb-accordion-item>
          <nb-accordion-item-header>
            <nb-icon icon="color-palette-outline"></nb-icon>
            Color Theme
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-radio-group #themeOptions [(ngModel)]="selectedTheme" (valueChange)="onThemeChange(themeOptions.value)">
              <nb-radio value="default">Default</nb-radio>
              <nb-radio value="dark">Dark</nb-radio>
              <nb-radio value="cosmic">Cosmic</nb-radio>
            </nb-radio-group>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <!--      <nb-menu [items]="menuItems" autoCollapse="true">-->
      <!--        -->
      <!--      </nb-menu>-->
      <!--      <span>Hello, Popover!</span>-->
    </ng-template>
    <!--    <button id="settingsButton" nbButton nbContextMenuPlacement="top" [nbContextMenu]="menuItems">-->
    <!--      Settings-->
    <!--    </button>-->
  </nb-layout-column>
  <nb-layout-column id="chatColumn">
    <nb-chat class="page-item" [title]="chat.title" [status]="chat.status" size="small">
      <nb-chat-message *ngFor="let message of chat.messages"
                       [type]="message.type"
                       [message]="message.text"
                       [reply]="message.reply"
                       [sender]="message.user.name"
                       [date]="message.date"
                       [files]="message.files"
                       [avatar]="message.user.avatar">
      </nb-chat-message>
      <nb-chat-form [nbSpinner]="state.modelsNotLoaded" (send)="sendMessage(chat.messages, $event)"></nb-chat-form>
    </nb-chat>
  </nb-layout-column>
  <nb-layout-column class="column">
    <nb-card class="page-item" id="chatbotRecognitionCard" [accent]="state.chatbotRecognitionCardAccent">
      <nb-card-header>Chatbot's Recognition</nb-card-header>
      <nb-card-body class="centeredCardBody cardBody">
        <div class="unselectable" id="chatbotRecognitionTemporaryText"
             *ngIf="state.showChatbotRecognitionTemporaryText">
          Talk to the chatbot
        </div>
        <dl *ngIf="botRecognition">
          <dt>Classification:</dt>
          <dd>Confidence:
            <p>{{botRecognition.classification[0].confidence * 100}}%</p>
          </dd>
          <dd>Intent:
            <p>{{botRecognition.classification[0].intent}}</p>
          </dd>
          <dd>Sentence:
            <p>{{botRecognition.classification[0].sentence}}</p>
          </dd>
          <dt>Named Entity Recognition:</dt>
          <dd>Slots:
            <p>{{botRecognition.ner[0] ? botRecognition.ner[0].slots : 'empty'}}</p>
          </dd>
        </dl>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

