::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;

}

.column {
  position: relative;
}

.page-item {
  min-width: 100%;
  min-height: 100%;
}

.centeredCardBody {
  display: flex;
  justify-content: center;
}

#chatbotRecognitionTemporaryText {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#settingsAccordion {
  min-width: 200px;
}

#settingsAccordion nb-icon {
  margin-right: 6px;
}

#settingsButton {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#settingsButton nb-icon {
  margin-left: -7px;
}

.cardBody {
  font-size: 0.75rem;
}

.cardBody ul li {
  font-size: 0.75rem;
}

.cardBody > dl {
  font-weight: bold;
}

.cardBody > dl p {
  font-size: 0.75rem;
  display: inline-block;
}

.cardBody > dl > dd {
  margin-left: 15px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mat-spinner {
  position: fixed;
  z-index: 1051;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#chatColumn {
  min-width: 50%;
}


